<% content_for(:form) do %>
<h2>CONFIRMATION DE MAIL</h2>
<%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>
  <%= f.full_error :confirmation_token %>
  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email),
                input_html: { autocomplete: "email" } %>
  </div>
  <div class="form-actions m-3 d-flex justify-content-evenly flex-wrap">
    <%= f.button :submit, "Confirmer le mail", class: "btn, btn-primary" %>
    <%= render "devise/shared/links" %>
  </div>
<% end %>

<% end %>
<%= render "devise/shared/form"%>
