<div class="modal <%="myOpenModal" if @user.contract_accepted == false%>"" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content bg-linear-blue">
      <%= simple_form_for @user, url: user_registration_path, html: { method: :patch }  do |f| %>
      <%#= simple_form_for @user, url: edit_user_registration_url(@user), html: { method: :patch }  do |f| %>
        <div class="modal-header">
          <h5 class="modal-title w-100 text-center">Salut <%= @user.name %></h5>
        </div>
        <div class="modal-body">
          <p>Pour pouvoir profiter du co work, tu dois accepter les conditions d'utilisation ci-dessous</p>
        </div>
        <div class="modal-footer d-flex justify-content-around">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Annuler</button>
          <%= f.input :contract_accepted, label: "J'accepte", class: "w-100 text-center"%>
          <%= f.button :submit, value: "Valider", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>