<div class="d-flex justify-content-between align-items-center font-size-12px">
  <div class="col-1 text-right border-end-blue"><%= index + 1%></div>
  <div class="col-2 text-right border-end-blue"><%= user.name %></div>
  <div class="col-3 text-right border-end-blue"><%= user.email %></div>
  <div class="col-3 text-right border-end-blue"><%= enum_translated_for(:request, :progresses, user.active_request.progress) if user.active_request.present? %></div>
  <div class="col-3 text-right"><%= user.active_created_at_txt if user.active_request.present? %></div>
  <div></div>
</div>