<% content_for(:form) do %>
<h2>MOT DE PASSE OUBLIE ?</h2>
<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
  </div>
  <div class="form-actions m-3 d-flex justify-content-evenly flex-wrap">
    <%= f.button :submit, "Envoyer les instructions", class: "btn btn-primary" %>
    <%= render "devise/shared/links" %>
  </div>
<% end %>
<% end %>
<%= render "devise/shared/form"%>
