<%= content_for :meta_title %>
<div class="container page-min-height">
  <h2 class="my-3 text-center">Les Freelances </h2>
  <div class="row container mx-0">
    <div class="col-12 col-md-3">
      <%= render 'users/list_cards', users: @accepted_users, title: "Dans le CoWork (#{@accepted_users.count})", partial: "accepted_card", add_class: "font-size-14px" %>
    </div>
    <div class="col-12 offset-md-1 col-md-8">
      <%= render 'users/list_cards', users: @pending_users,
                                     title: "En liste d'attente (#{@pending_users.count})",
                                     partial: "pending_card",
                                     add_class: "font-size-12px"%>
      <%= render 'users/list_cards', users: @expired_users,
                                     title: "Non renouvelés (#{@expired_users.count})",
                                     partial: "pending_card",
                                     add_class: "font-size-12px"%>
    </div>
  </div>
</div>
<%= render 'pages/home/user_form', user: @user %>