<% content_for(:form) do %>
<h2>CONNEXION</h2>
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
    <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" } %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>
  <div class="form-actions my-3 d-flex justify-content-evenly">
    <%= f.button :submit, "Se connecter", class: "btn btn-primary"%>
    <%= render "devise/shared/links" %>
  </div>
<% end %>
<% end %>
<%= render "devise/shared/form"%>
